/* Fonte personalizada */
#introducao {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    margin: 0 auto;  
    max-width: 80%; 
}

/* Estilização do Body */
body {
    margin: 0;
    padding: 0;
    background-color: #1a0a0a;
    font-family: Arial, sans-serif;
    position: relative;
    background-image: url('fotos/Fundo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Menu de navegação */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px 20px;
    text-align: left;
    z-index: 1000; 
}

nav:hover {
    background-color: rgba(0, 0, 0, 0.9); 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 110;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px; 
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#navbar {
    display: flex; /* Exibe o navbar por padrão */
}

/* Efeito de hover no menu */
nav ul li a:hover {
    background-color: #cc0033;
    color: rgb(250, 250, 250);
    border-radius: 5px;
}

/* Menu Dropdown */
nav ul li.dropdown {
    position: relative;
    display: inline-block;
}

nav ul li .dropbtn {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); 
    min-width: 160px;
    z-index: 1;
}

nav ul li .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav ul li .dropdown-content a:hover {
    background-color: #cc0033;
}

/* Exibir o menu dropdown ao passar o mouse */
nav ul li:hover .dropdown-content {
    display: block;
}

/* Slideshow */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

/* Mostrar apenas o primeiro slide */
.slide:first-child {
    display: block;
}

/* Estilização dos textos principais */
.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    color: rgb(255, 0, 98);
    text-align: center;
    margin-top: 20px;
    
}

.desc {
    font-style: italic;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    margin: 0px;
    opacity: 50%;
}

.text {
    color: white;
    text-align: justify;
    font-size: 20px;
    margin: 20px;
}

/* Estilização de vídeos e imagens */
video {
    display: block;
    margin: 0 auto;
    width: 90%; 
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

img {
    display: block;
    margin: 0 auto;
    width: 90%; 
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Estilização das linhas */
hr {
    height: 5px;
    border: 0;
    background-color: #cc0033; 
    width: 80%; 
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Mostra o ícone do menu em telas pequenas */
    }
    #navbar {
        display: none; /* Esconde o navbar por padrão em telas pequenas */
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 50px;
        right: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    #navbar.open {
        display: flex; /* Mostra o navbar quando aberto */
    }
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card {
    border: 2px solid #000;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    padding: 15px;
    background-color: #f8f8f8;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5em;
}

.card p {
    font-size: 1.2em;
}

.card button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica em cima de tudo */
    z-index: 1000; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza a janela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura da janela */
    max-width: 600px; /* Largura máxima */
    border-radius: 10px; /* Bordas arredondadas */
}

.modal-content h2 {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-img {
    width: 100%; /* Imagem ocupa toda a largura da janela modal */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Responsividade */
@media (max-width: 600px) {
    .card {
        width: 150px;
        height: 250px;
    }

    .card-front img {
        width: 70%;
    }

    .card-back p {
        font-size: 14px;
    }
}